/* {
  link: 'linkAddress',
  name: 'mango',
  flashcards: [
    {
      question: 'answer',
      explanation: 'overview',
      exampleOne: 'example One',
      exampleTwo: 'Example Two'
    },
    {
      question: 'answer',
      explanation: 'overview',
      exampleOne: 'example One',
      exampleTwo: 'Example Two'
    }
  ]
} */
